In [1]:
import pandas as pd
import numpy as np

In [2]:
challenge_path = 'data/test_format1.csv'
user_log_path = 'data/user_log_format1.csv'
challenge_data = pd.read_csv(challenge_path)
challenge_data.head()

   user_id  merchant_id  prob
0   163968         4605   NaN
1   360576         1581   NaN
2    98688         1964   NaN
3    98688         3645   NaN
4   295296         3361   NaN

In [3]:
user_log = pd.read_csv(user_log_path)
user_log.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0